<ion-view hide-nav-bar="true" title="Login">
    <ion-content padding="true" has-header="false">
        <ng-controller="FrontPageCtrl">
          <div class="spacer" style="width: 300px; height: 80px;"></div>
            <center> <h1>Treemo</h1> </center>
            <div class="spacer" style="width: 300px; height: 30px;"></div> 
            <center><h2>Reforestation,</h2></center>
            <center><h3>one check-in at a time</h3></center>
            <center><img class="profile" src="img/icon-small.png"/></center>
            <div class="spacer" style="width: 300px; height: 30px;"></div> 
            <center> <h3>{{checkins.length}}</h3> </center>
            <center> <h3>Trees planted so far</h3> </center>
            <div class="spacer" style="width: 300px; height: 30px;"></div>    
            <button class="button button-full button-positive icon-left ion-social-facebook" ng-click="login()">Log in with Facebook</button>
          
    </ion-content>
</ion-view>