<ion-view hide-nav-bar="true" title="Login">
    <ion-content padding="true" has-header="false">
        <ng-controller="FrontPageCtrl">
          <center> <h1>{{checkins.length}}</h1> </center>
          <center> <h3>trees planted so far</h3> </center>
          <center> <h5>Treemo: reforestation, one check-in at a time</h5> </center>
          <button class="button button-full button-positive icon-left ion-social-facebook" ng-click="login()">Log in with Facebook</button>
    </ion-content>
</ion-view>