<ion-view view-title="Checkin">
    <ion-content padding="true" class="has-header">
    <section ng-controller="GeoCtrl" data-ng-init="getPosition()">
      <button class="button button-full button-balanced" ng-click="getPosition()">
            <i class="icon ion-refresh"></i> Refresh Locations
          </button>
        <form>
            <ion-list>
            <ion-item ng-repeat="location in locations" href="#/tab/checkin/{{location.id}}?facebookId={{location.facebook_id}}"><i class="icon ion-chevron-right" style="color:#ccc; font-size:16px;"></i>
            <div class ="item-button-right">
              <h2>{{location.name}}</h2><h3>({{location.distance | number:2}} miles away)</h3>
            </div>
            </ion-item>
            </ion-list
        </form>
      </section>
    </ion-content>
</ion-view>
