<ion-view view-title="Checkin">
    <ion-content padding="true" class="has-header">
    <section ng-controller="GeoCtrl" data-ng-init="getPosition()">
      <div id="refresh_button">
        <button class="button button-block button-outline button-light" ng-click="getPosition()">
            <i class="icon ion-refresh"></i> Refresh Locations
        </button>
      </div>
        <form>
            <ion-list>
            <ion-item ng-repeat="location in locations" href="#/tab/checkin/{{location.id}}?facebookId={{location.facebook_id}}" class="item item-icon-right">
              <i class="icon ion-chevron-right"></i>
              <span><h2>{{location.name}}</h2><h4>({{location.distance | number:2}} miles away)</h4></span>
            </ion-item>
            </ion-list
        </form>
      </section>
    </ion-content>
</ion-view>
