<ion-view view-title="">
    <ion-content padding="true" class="has-header">
    <section ng-controller="GeoCtrl">
      <button class="button button-balanced icon-left ion-ios-location" ng-click="postCheckin(location.facebook_id)">Check-in</button>
    </section>
    <section ng-controller="FBPageCtrl">
      <center><h1>{{page.name}}</h1></center>
      <center>Category - {{page.category}}</center><br>
      <center><p>{{page.about}}</p></center>
      
      <center><img class="fb-cover" ng-src="{{page.cover.source}}"></center>
      <center>{{page.location.street}}</center>
      <center>{{page.location.zip}}</center>
      <center>{{page.website}}</center>
    </section>
    </ion-content>
</ion-view>
