<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title></title>

	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>

	<!-- cordova script (this will be a 404 during development) -->
	<script src="lib/ngCordova/dist/ng-cordova.js"></script>
	<script src="cordova.js"></script>
	

	<!-- your app's js -->
	<script src="js/openfb.js"></script>
	<script src="js/ngopenfb.js"></script>
	<script src="js/app.js"></script>
</head>

<body ng-app="treemoApp">

	<ion-pane>
		<ion-header-bar class="bar-stable">
			<h1 class="title">Treemo App</h1>
		</ion-header-bar>
		<ion-content>

			<section ng-controller="AppCtrl">

					<button class="button button-block button-positive" ng-click="fbLogin()">
          Login with Facebook
          </button>

          <button class="button button-block button-positive" href="#/app/profile">
          Profile
          </button>

					<button class="button button-full button-balanced" ng-click="getPosition()">
						<i class="icon ion-map"></i> Get locations
					</button>

				<ion-list>
					<ion-item ng-repeat="location in locations">
						<div>
							<h2>{{location.name}}</h2>
							<h3>{{location.distance | number:2}} miles away</h3><button class="button button-outline button-balanced" ng-click="postCheckin()">POST</button>
						</div>
					</ion-item>
				</ion-list>
			</section>
		</ion-content>
	</ion-pane>
</body>

</html>
