body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content{
 background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
