body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.scroll-content{

 background: url(../img/background1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.fb-cover {
  width: 100%;
  height: auto;
}

p,h1,h2,h3,h4,h5 {
  color: white;
}

img {
  width: 50%;
  height: 50%;
}

.item-complex .item-content, .item {
  background-color: rgba(0,0,0,0);
}

.ion-chevron-right {
  color: white;
}

.bar.bar-positive {
 
}

h1 {

}

#img {
  border-style: solid;
}